<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933021714823-01100000000000000000000000000000.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933021714823-01100000000000000000000000000000</string>
	<key>API_KEY</key>
	<string>AIzaSyAmWuF42h4xPQyzK0PyAPyD4OkZtG6kLvk</string>
	<key>GCM_SENDER_ID</key>
	<string>933021714823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.my_manga_reader</string>
	<key>PROJECT_ID</key>
	<string>mykomikid</string>
	<key>STORAGE_BUCKET</key>
	<string>mykomikid.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933021714823:ios:12c52e3c41c917ea6beb22</string>
</dict>
</plist>